html {
    font-family: 'Forum', cursive;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
}

body {
    margin: 0;
    background-color: rgba(59, 24, 30, 1.0);
    position: relative;
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}

a:hover {
    cursor: pointer;
    color: #ffffff;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.15rem;
    padding: 20px 36px 15px;
    position: relative;
    font-family: 'Forum', cursive;
}


.btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 10rem;
    padding-bottom: 6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    cursor: default;
}

h2 {
    margin: 0;
    padding: 0;

    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    cursor: default;
    margin-bottom: 4rem;
}

/*-------------------------------------------HEADER----------------------------*/

.floristy__header {
    background: linear-gradient(0deg, rgba(59, 24, 30, 1.0) 0%, rgba(59, 24, 30, 0) 10%), url(../img/headerback.jpg) no-repeat center top / cover;
    padding-top: 55px;
    padding-bottom: 115px;
    margin-bottom: 16rem;
    position: relative;
}

.header__container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.header__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12rem;
    position: relative;
    width: 100%;
}

.header__head a,
.chapter__header a {
    margin: 0;
    padding: 0;

    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.06rem;
}

.header__logo {
    background: url("../img/logo.svg") no-repeat;
    background-size: contain;
    padding-top: 2.2rem;
    cursor: pointer;
}

.header__burger {
    background: url("../img/burger.svg") no-repeat;
    background-size: 23px auto;
    background-position: center left;
    padding-left: 3.2rem;
    cursor: pointer;
}

.header__center {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__portfolio {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 13rem;
}

.mouse {
    border: 0.7px solid rgba(255, 255, 255, 1);
    border-radius: 30px;
    background-color: rgba(36, 0, 0, 0.3);
    background-clip: padding-box;
    width: 37px;
    height: 56px;
    background-image: url("../img/mouswheel.svg");
    background-repeat: no-repeat;
    background-position: center 10px;
}

.mouse:hover {
    background-position: center center;
    cursor: pointer;
}

.arrowdown {
    display: none;
}

.header__social {
    position: absolute;
    left: 0;
    bottom: 0;
}

.header__catalog {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 221px;
}

.header__catalog:hover {
    justify-content: space-between;
}

.social__item {
    width: 25px;
    height: 25px;
    margin-bottom: 25px;
    background-size: contain;
    cursor: pointer;
}

.social__item span {
    display: none;
}

.social__item--instagram {
    background-image: url('../img/inst.svg');
}

.social__item--instagram:hover {
    background-image: url('../img/insthover.png');
}

.social__item--facebook {
    background-image: url('../img/fb.svg');
}

.social__item--facebook:hover {
    background-image: url('../img/fbhover.png');
}

.social__item--whatsapp {
    background-image: url('../img/whatsapp.svg');
}

.social__item--whatsapp:hover {
    background-image: url('../img/whatsapphover.png');
}

.social__item--vkontakte {
    background-image: url('../img/vk.svg');
    margin-bottom: 0;
}

.social__item--vkontakte:hover {
    background-image: url('../img/vkhover.png');
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    margin-bottom: 30px;
}

.catalog__arrow {
    bottom: 0;
}

/*-------------------------------------------HEADER END----------------------------*/

.floristy__section {
    margin: 0 auto;
    margin-bottom: 14rem;
    padding-top: 4rem;
}

.services {
    width: 87%;
    position: relative;
}

.section__title {
    text-decoration: none;
    position: relative;
    margin-bottom: 8.5rem;
    line-height: 170%;
}

.services__title {
    text-align: center;
}

.section__title::after {
    content: url('../img/thinwhiteline.svg');
    position: absolute;
    bottom: -2rem;
}

.services__title::after {
    left: 0;
    right: 0;
    margin: auto;

}

.promo__title::after {
    left: 0;
}

.services__backtitle {
    position: absolute;
    z-index: -1;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12vw;
    letter-spacing: 0.06rem;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff0d;
    margin-right: -50%;
}

.services__list {
    display: flex;
    justify-content: space-around;
}


/*CATALOG CARD START*/

.services__card {
    margin: 0;
    padding: 0;

    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    line-height: 170%;
    letter-spacing: 0.1rem;
}


.card__shell {
    padding: 10px;
    display: flex;
    border: solid transparent 1px;
}

.services__card .card__image {
    box-shadow: 0 0 0 8px transparent, 0 0 0 10px transparent;
}

.card__field {
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;

    width: 27.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -27.5rem;
}

.c01 {
    background-color: rgba(0, 0, 0, 0.6);
}

.card__number {
    padding-top: 36px;
    padding-left: 20px;
    position: relative;
    font-size: 1.7rem;
    display: flex;
}

.number__digital {
    margin-right: 12px;
}

.number__line {
    background-image: url('../img/thinwhiteline.svg');
    width: 70px;
    background-repeat: no-repeat;
    background-position-y: bottom 30%;
    margin-right: 12px;
}

.card__info {
    padding: 0 20px 20px 20px;
}

.card__title {}

.card__button {
    margin-top: 20px;
    display: none;
}


/*------------------------------------------------------CATALOG CARD END*/


/*--------------------------------------------------CATALOG CARD HOVER START*/
.services__card:hover .card__image {
    box-shadow: 0 0 0 8px rgba(59, 24, 30, 1.0), 0 0 0 10px rgba(255, 255, 255, 0.2);
}

.services__card:hover .number__digital {
    order: 2;
}

.services__card:hover .card__button {
    display: block;
    color: rgba(1, 0, 1, 1.0);
    border: solid rgba(255, 255, 255, 1) 1px;

}

/*----------------------------------------------------CATALOG CARD HOVER END*/

.promo {
    width: 64%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.promo__title {
    margin-bottom: 2.5rem;
    width: 40%;
}


.promo__text {
    width: 40%;
    align-self: center;
}

.promo__image {
    width: 57%;
}

.promo__pic {
    width: 100%;
}

.promo__suggestion {
    font-size: 1.2rem;
    line-height: 170%;
    margin-bottom: 4rem;
    width: 78%;
}

.promo__request {
    background-color: rgba(1, 0, 1, 1.0);
    border-color: #010001;
}

.promo__request:hover {
    border-color: rgba(255, 255, 255, 1.0);
}

/*-------------------------------------------FOOTER----------------------------*/

.floristy__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    border-top: solid rgba(255, 255, 255, 0.2) 1px;
    padding-top: 2rem;
    align-content: center;
}

.chapter__body .floristy__footer {
    display: none;
}

.footer__navigation {
    width: 100%;
}

.navigation__list {
    display: flex;
    width: 55%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.navigation__point {
    padding: 0 5px 0 5px;
}

.navigation__link {
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
}

.navigation__link:hover {
    color: rgba(255, 255, 255, 1);
}

.footer__social {}

.social__footer {
    display: flex;
    width: 13vw;
    justify-content: space-between;
}

/*---------------------------------------FOOTER END----------------------*/

/*---------------------------------------MENU BLOCK ---------------------*/

.header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 24, 30, 1.0);
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.menu__wrapper {
    width: 22%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
    text-align: center;
}

.header__menu .header__logo {
    margin-bottom: 15rem;

    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 0.06rem;
}

.menu__link {
    margin: 0;
    padding: 0;

    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.09rem;
}

.nemu__link:hover {
    color: rgba(255, 255, 255, 1);
    font-size: 3.75rem;
}


.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__item {
    margin-bottom: 5rem;
}

.header__menu .header__social {
    position: fixed;
    left: 95px;
    bottom: 95px;
}

.menu__close {
    position: fixed;
    top: 95px;
    right: 95px;
    cursor: pointer;
}

.menu__close svg {
    stroke: rgba(255, 255, 255, 0.5);
}

.menu__close:hover svg {
    stroke: rgba(255, 255, 255, 1);
}


/*---------------------------------------MENU BLOCK END------------------*/

/*---------------------------------------POPUP BLOCK START----------------*/
.promo__popup {
    position: absolute;
    width: 40vw;
    left: 50%;
    margin-left: -25%;
    display: none;
    background-color: #3b181e;
    box-shadow: 0 0 700px 744px #505050dd;
    justify-content: space-between;
}

.popup__form {
    display: flex;
    flex-direction: column;
    padding: 5.5rem;
    flex-grow: 1;
}

.popup__legend {
    font-size: 1.6rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.popup__field {
    margin-bottom: 1.3rem;
    padding: 1rem 2rem;
    border: solid 1px rgba(246, 246, 249, 0.2);
    background-color: rgba(59, 24, 30, 1);
    color: rgba(255, 255, 255, 1);
    ;
}


::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 1);
    font-family: forum, cursive;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: rgba(255, 255, 255, 1);
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.popup__field:hover,
.popup__field:focus {
    border: solid 1px rgba(255, 255, 255, 1);
    outline: none;
}

.popup__submit {
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 1);
}


.popup__close {
    position: absolute;
    top: 22px;
    right: 24px;
    cursor: pointer;
}

.popup__close svg {
    stroke: rgba(255, 255, 255, 0.5);
}

.popup__close:hover svg {
    stroke: rgba(255, 255, 255, 1);
}


/*---------------------------------------POPUP BLOCK END------------------*/



/*---------------------------------------------CHAPTER PAGE*/

.chapter {
    position: relative;
    width: 100vw;
    background-color: #3b181e;

    display: flex;
    overflow: hidden;
}

.wedding__img {
    background: url('../img/wedding.jpg') no-repeat #ffffff4d;
}

.celebration__img {
    background: url('../img/celebration.jpg') no-repeat #ffffff4d;
}

.composition__img {
    background: url('../img/composition.jpg') no-repeat #ffffff4d;
}

.event__img {
    background: url('../img/event.jpg') no-repeat #ffffff4d;
}

.wedding {}

.composition {}

.celebration {}

.event {}

.chapter__img {
    position: relative;

    width: 50vw;
    height: 100vh;
}

.chapter__img::after {
    content: '';
    position: absolute;
    left: 30px;
    top: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 94%;
    width: 100%;
}

.chapter__header {
    position: absolute;
    z-index: 100;
}

.chapter__header .header__logo,
.chapter__header .header__burger {
    position: absolute;
    top: 8rem;
    z-index: 200;
}

.chapter__header .header__logo {
    left: 8rem;
}

.chapter__header .header__burger {
    right: 8rem;
}

.chapter__description {
    width: 47rem;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: 9.5rem;
    margin-top: 14rem;
}

.chapter__main {
    width: 47rem;
}

.chapter__text {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    line-height: 150%;
}

.chapter__btn {
    background-color: transparent;
    flex-grow: 0;
    margin-bottom: 6vh;
}

.chapter__list {
    display: flex;
    align-items: center;
    position: relative;
}

.chapter__footer {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: absolute;
    right: 95px;
    bottom: 50px;
    align-items: center;
}

.chapter__footer .social__item {
    margin-bottom: 0;
}

.chapter__more {
    margin-right: 2.5rem;
    font-size: 1.5rem;
}

.slick-arrow {
    background-color: rgba(0, 0, 0, 0.4);
    border: rgba(255, 255, 255, 1.0) solid 1px;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    z-index: 100;
    position: absolute;
    color: transparent;
    cursor: pointer;
}

.slick-arrow:hover {
    background-color: rgba(0, 0, 0, 1);
}

.slick-prev {
    background-image: url('../img/prev.svg');
    background-repeat: no-repeat;
    left: -23px;
    background-position: center center;
}

.slick-next {
    background-image: url('../img/next.svg');
    background-repeat: no-repeat;
    right: -8px;
    background-position: center center;
}

.slick-disabled {
    opacity: 0;
    visibility: hidden;
}

/*-------------------------------------------------END CHAPTER PAGE*/

/*------------------------------------------MEDIA CORRECTOR 1500*/
@media (max-width: 1500px) {

    .wedding__img {
        background: none;
    }

    .celebration__img {
        background: none;
    }

    .composition__img {
        background: none;
    }

    .event__img {
        background: none;
    }

    .wedding {
        background: url('../img/wedding.jpg') no-repeat #ffffff4d;
        background-size: cover;
    }

    .composition {
        background: url('../img/composition.jpg') no-repeat #ffffff4d;
        background-size: auto;
        background-size: cover;
    }

    .celebration {
        background: url('../img/celebration.jpg') no-repeat #ffffff4d;
        background-size: auto;
        background-size: cover;
    }

    .event {
        background: url('../img/event.jpg') no-repeat #ffffff4d;
        background-size: auto;
        background-size: cover;
    }

    .services__list {
        flex-direction: column;
    }

    .services__card {
        width: 27.5rem;
        display: block;
        margin: 0 auto;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .slick-dots button {
        color: transparent;
        width: 6.2rem;
        background-color: rgba(255, 255, 255, 0.2);
        border-color: transparent;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 2px;
        cursor: pointer;
    }

    .slick-active button {
        background-color: rgba(255, 255, 255, 1);
    }

    /*----------------------------------------------FOOTER*/
    .floristy__footer {}

    .chapter__footer {
        right: 0;
        left: 0;
        justify-content: center;
    }

    .footer__navigation {}

    .navigation__list {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .navigation__point {
        margin-bottom: 2rem;
    }

    .navigation__link {}

    .footer__social {}

    /*------------------------------------------END FOOTER*/
    /* -------------------------------------------CHAPTER */
    .chapter {
        flex-direction: column;
    }

    .chapter__img {
        height: auto;
    }

    .chapter__description {
        margin: 3rem auto;
        background-color: rgba(59, 24, 30, 0.9);
        padding: 5rem;
        box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.3);
        position: relative;
    }

    .chapter__header {
        position: relative;
        width: 90%;
        margin: 2rem auto 4rem;
    }

    .chapter__header .header__logo,
    .chapter__header .header__burger {
        position: static;
    }

    .chapter__img::after {
        content: none;
    }

    .composition {
        background: url('../img/composition.jpg') no-repeat;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.3);
    }

    /*---------------------------------------------------END CHAPTER*/
    /*-----------------------------------------------------POPUP*/
    .promo__popup {
        top: 5vh;
        box-shadow: 0 0 5rem 5rem rgba(0, 0, 0, 0.5);
        z-index: 100;
        height: 71vh;
        position: fixed;
        width: 32vw;
        margin-left: -16%;
    }

    .popup__pic {
        display: none;
    }

    .popup__form {
        padding: 5.5rem 5vw;
    }

    .popup__legend {
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }

    .popup__field {}

    input::placeholder {
        font-size: 1.6rem;
    }

    .popup__submit {
        margin-top: 3.5rem;
    }

    .popup__close svg {
        width: 22px;
        height: 22px;
    }
}

/*------------------------------------------END MEDIA CORRECTOR 1500*/

/*------------------------------------------MEDIA CORRECTOR 1350*/
@media (max-width: 1350px) {

    .header__head {
        margin-bottom: 8rem;
    }

    .header__portfolio {
        margin-bottom: 8rem;
    }

    .promo {
        flex-direction: column;
        align-items: center;
    }

    .promo__image {
        order: 1;
        margin-bottom: 2.5rem;
        width: auto;
    }

    .promo__text {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .promo__title {
        width: 100%;
        align-self: center;
    }

    .promo__title::after {
        right: 0;
    }


}

/*------------------------------------------END MEDIA CORRECTOR 1350*/

/*------------------------------------------MEDIA CORRECTOR 900*/
@media (max-width: 900px) {
    .services {
        width: 100%;
    }

    .floristy__header {
        background: url(../img/headerback.jpg) no-repeat center top / cover;
        padding-top: 55px;
        padding-bottom: 115px;
        margin-bottom: 4rem;
    }

    .header__burger {
        color: transparent;
        background-position-x: right;
    }

    .header__title {
        font-size: 5.8rem;
    }

    .header__social {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .header__catalog {
        display: none;
    }

    .social__list {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    .social__item {
        width: 50px;
        height: 50px;
        padding: 2px;
        border-radius: 50%;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #3b181e;
    }

    .mouse {
        display: none;
    }

    .arrowdown {
        display: block;
        background: url('../img/arrowdown.svg') no-repeat center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
        position: absolute;
        bottom: -3rem;
    }

    .services__backtitle {
        display: none;
    }

    .services__title {
        margin-bottom: 2.5rem;
    }


    .navigation__list {
        flex-flow: column nowrap;
        align-items: center;
    }

    .navigation__point {
        margin-bottom: 2rem;
    }

    .chapter__body {
        height: 100vh;
    }

    .promo__popup {
        top: 5vh;
        height: 50vh;
        width: 50vw;
        margin-left: -25%;
    }

    .popup__form {
        padding: 5.5rem 5vw;
    }

}

/*------------------------------------------END MEDIA CORRECTOR 900*/
/*------------------------------------------MEDIA CORRECTOR 767*/
@media (max-width: 767px) {

    .btn {
        font-size: 0.9rem;
        letter-spacing: 0.15rem;
    }

    .floristy__header {

        padding: 0;
        padding-bottom: 7.5rem;
        margin-bottom: 0;
    }

    .header__container {
        width: 100%;
    }

    .header__head {
        padding: 15px 30px;
        width: auto;
        margin: 0;
        background-color: #3b181e;
        z-index: 100;
    }

    .header__burger {
        color: transparent;
        background-position-x: right;
    }

    .header__center {

        width: 100%;
        padding-top: 8rem;
    }

    .header__title {
        font-family: 'Playfair Display', serif;
        font-size: 2.5rem;
        line-height: 140%;
        padding: 0;
        margin-bottom: 3rem;
    }

    .header__portfolio {
        margin-bottom: 8rem;
    }

    .header__social {
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    .header__catalog {
        display: none;
    }

    .social__list {}

    .social__item {
        width: 35px;
        height: 35px;
        padding: 3px;
    }

    .mouse {
        display: none;
    }

    .arrowdown {
        display: block;
        background: url('../img/arrowdown.svg') no-repeat center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
        position: absolute;
        bottom: -3rem;
    }

    .services__backtitle {
        display: none;
    }

    .services__title {
        margin-bottom: 2.5rem;
    }

    .services__card {
        align-self: center;
    }

    .slick-dots button {
        margin: 0 0.5rem;
        width: 5rem;
    }

    .slick-dots {
        justify-content: space-around;
    }

    .floristy__section {
        margin-bottom: 8rem;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .promo__image {
        width: 90%;
        order: 1;
    }

    .promo__text {
        width: 90%;
        text-align: start;
        align-items: flex-start;
        order: 2;
    }

    .promo__suggestion {
        width: 80%;
    }


    .floristy__footer {
        width: 90%;
    }

    .navigation__list {
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
    }

    .navigation__point {
        margin-bottom: 2rem;
    }

    .footer__social {
        width: 100%;
    }

    .social__footer {
        width: 100%;
        justify-content: space-evenly;
    }

    .slick-initialized .slick-slide {
        display: flex;
    }

    .menu__wrapper {
        width: 100%;
        padding-top: 3.5rem;
    }

    .menu__list {
        width: 55%;
    }

    .menu__link {
        font-size: 1.2rem;
        line-height: normal;
    }

    .header__menu .header__social {
        display: none;
    }

    .menu__close {
        top: 25px;
        right: 25px;
    }

    .menu__close svg {
        width: 21px;
        height: 21px;
    }

    .header__menu .header__logo {
        font-size: 1rem;
        margin-bottom: 6rem;
    }

    .menu__link:hover {
        font-size: 1.5rem;
        color: #fff;
    }

    .promo__popup {
        width: 90vw;
        margin: 0;
        left: 5vw;
        top: 5vh;
        box-shadow: 0 0 5rem 5rem rgba(0, 0, 0, 0.5);
        z-index: 100;
        height: 90vh;
        position: fixed;
    }

    .popup__pic {
        display: none;
    }

    .popup__form {
        padding: 5.5rem 5vw;
    }

    .popup__submit {
        margin-top: 2.3rem;
    }

    .popup__close svg {
        width: 22px;
        height: 22px;
    }

    .chapter__header {
        height: 5.3rem;
        padding: 1.33rem;
        position: relative;
    }

    .chapter__header .header__logo,
    .chapter__header .header__burger {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
    }

    .chapter__header .header__logo {
        align-self: flex-end;
    }

    .chapter__header .header__burger {
        padding: 0;
        background-size: 70%;
        background-position: center center;
    }

    .chapter__header a {
        display: flex;
    }

    .chapter {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background: none;
    }


    .chapter__img {
        width: 100%;
        height: 443px;
        overflow: hidden;
    }

    .chapter__pic {
        width: 125%;
        left: -25%;
        position: relative;
        top: -10%;
    }

    .wedding__img {
        background: url('../img/wedding.jpg') no-repeat #ffffff4d;
        background-size: cover;
        background-position: center;
    }

    .celebration__img {
        background: url('../img/celebration.jpg') no-repeat #ffffff4d;

        background-position: center;
        background-size: cover;
    }

    .composition__img {
        background: url('../img/composition.jpg') no-repeat #ffffff4d;

        background-position: center;
        background-size: cover;
    }

    .event__img {
        background: url('../img/event.jpg') no-repeat #ffffff4d;
        background-position: center;
        background-size: cover;
    }

    .chapter__description {
        margin: 0 auto;
        width: auto;
        padding: 2.5rem 1.7rem;
        box-shadow: none;
    }

    .chapter__main {
        width: 90vw;
    }

    .chapter__title {
        font-size: 1.6rem;
    }

    .chapter__btn {
        margin-bottom: 4.2rem;
    }

    .chapter__item {
        margin-right: 2rem;
    }

    .chapter__footer {
        display: none;
    }

    .chapter__body .floristy__footer {
        display: flex;
    }


}

/*------------------------------------------END MEDIA CORRECTOR 767*/
/*------------------------------------------MEDIA CORRECTOR 450*/

@media (max-width: 450px) {

    .chapter .slick-slide img {
        width: 75px;
    }
}

/*------------------------------------------END MEDIA CORRECTOR 450*/